:root {
  --green200-lighter: hsl(148, 38%, 91%);
  --green600-medium: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey-500-medium: hsl(186, 15%, 59%);
  --grey-900-darker: hsl(187, 24%, 22%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  background-color: var(--green200-lighter);
  padding: 25px 15px;
}

.container {
	margin: 0 auto;
}

#successMessage {
  width: 290px;
  max-height: 100px;
  border-radius: 10px;
  padding: 20px;
  background-color: var(--grey-900-darker);
  color: var(--white);
  text-align: justify;
  color: var(--white);
  position: absolute;
  display: none;
}

#successMessage img {
  margin-right: 10px;
}

#successMessage div:nth-child(1) {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-bottom: 10px;
}

#form {
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  padding: 13px;
}

#formTitle {
  color: var(--grey-900-darker);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

input,
textarea {
  margin: 5px 0;
  border: 1px solid var(--grey-500-medium);
  padding: 5px 10px;
  font-size: 18px;
  color: var(--grey-500-medium);
}

#firstNameContainer,
#lastNameContainer,
#emailContainer,
#queryTypeContainer,
#messageContainer,
#checkboxContainer {
  margin: 10px 0;
  color: var(--grey-900-darker);
}

#queryTypeContainer,
#messageContainer {
  display: flex;
  flex-direction: column;
}

#generalEnquiryContainer,
#supportRequestContainer {
  border: 1px solid var(--grey-500-medium);
  height: 40px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  margin: 20px 0;
}

#supportRequestContainer {
	margin-bottom: 5px;
}

#checkBoxContainer {
  display: flex;
	flex-direction: column;
  justify-content: center;
}

#checkBoxContainer label {
	font-weight: 300;
  font-size: 14px;
}

#checkboxContent {
	display: flex;
  align-items: center;
  gap: 10px;
}

#star {
  color: var(--green600-medium);
  font-size: 20px;
  font-weight: 700;
}

#firstName,
#lastName,
#email {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  outline: none;
}

#messageBox {
  border-radius: 5px;
  outline: none;
}

#submitButton {
  background-color: var(--green600-medium);
  color: var(--green200-lighter);
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  margin-top: 30px;
}

.error {
  display: block;
  color: var(--red);
	height: 15px;
}
.redBorder {
  border: 1px solid var(--red);
  border-radius: 100%;
}

@media (min-width: 768px) {
  #successMessage {
    width: 520px;
    top: 50px;
  }

  body {
    padding-top: 100px;
    position: relative;
  }
  .container {
    width: 700px;
  }

  #form {
    padding: 15px;
  }

  #formTitle {
    font-size: 35px;
  }

  #name {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }

  #firstNameContainer,
  #lastNameContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
  }

  #firstName,
  #lastName {
    width: 100%;
    flex-shrink: 0;
  }

  input:hover,
  textarea:hover {
    border: 1px solid var(--green600-medium);
    cursor: pointer;
  }

  input:focus,
  textarea:focus {
    border: 1px solid var(--grey-900-darker);
    cursor: pointer;
  }

  #generalEnquiryContainer:hover,
  #supportRequestContainer:hover {
    border: 1px solid var(--green600-medium);
    cursor: pointer;
  }
  .generalEnquiryActive,
  .supportRequestActive {
    background-color: var(--green200-lighter);
    border: 1px solid var(--green600-medium);
    cursor: pointer;
  }
  #generalEnquiryContainer label,
  #supportRequestContainer label {
    cursor: pointer;
    font-size: 20px;
  }

  #submitButton:hover {
    background-color: var(--green200-lighter);
    color: var(--grey-500-medium);
    cursor: pointer;
    transition: background-Color 0.2s ease-in;
  }
  #firstName,
  #lastName,
  #email,
  #generalEnquiryContainer,
  #supportRequestContainer {
    height: 55px;
    border-radius: 10px;
  }

  textarea {
    border-radius: 10px;
    height: 120px;
  }

  #submitButton {
    height: 55px;
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
}
